  body
  {
    background-image : url('bg.bmp');
    font-family : sans-serif;
    background-attachment: fixed;
    vertical-align: top;
    overflow: auto;
    color : #e4ea94;
  }
  blockquote
  {
   font-style:italic;
   font-family:sans-serif;
   font-size:90%;
  }
  table.center
  {
    table-layout: auto;
    empty-cells: hide;
    border-collapse: separate;
    position: static;
    padding: 0;
    border: none;
    border-spacing: 0;
	  border: dashed;
	  border-spacing: 0;
	  background-color: #bcd684; 
  }
	td.text1
	{
		background-color: #bcd684;
		overflow: auto;
		margin: 8px;
		text-align: justify;
		vertical-align: top;
	}
	td.text2
	{
		background-color: #8caa7c;
		vertical-align: top;
		border-right: dashed;
		border-top: dashed;
		border-left: dashed;
		border-bottom: dashed;
		border-width: 1px;
		border-color: #4c6674;
		/*nowrap; */
		white-space: nowrap;
    text-align: left;
	}
	td.text3
	{
		background-color: #8caa7c;
		text-align: justify;
		vertical-align: top;
		border-right: dashed;
		border-top: dashed;
		border-bottom: dashed;
		border-width: 1px;
		border-color: #4c6674;
	}	
	p
	{
		font-family: 'arial', sans-serif;
		font-size: 10pt;
		color: #544a6c;
	}
