/*<font color  = "#544a6c">
<font color  = "#4c6674">
<font color  = "#54866c">
<font color  = "#8caa7c">
<font color  = "#bcd684">
<font color  = "#e4ea94"> */

  body
  {
    background-image : url('bg.bmp');
    font-family : 'sans-serif';
    background-attachment: fixed;
    vertical-align: top;
    
    scrollbar-arrow-color:#4c6674;
    scrollbar-track-color:#4c6674;
//e4ea94
    scrollbar-3dlight-color:#8caa7c;
    scrollbar-darkshadow-color:#8caa7c;
    
    scrollbar-highlight-color:#8caa7c;
    scrollbar-shadow-color: #8caa7c;
    
    
    scrollbar-base-color: #8caa7c;
    scrollbar-face-color: #8caa7c;
    
    
    overflow: auto;
    color : #e4ea94;
    }
    
  .left_scroll
	{
		width: 90px;
		height: 128px;
		background-image: url('mascot.gif');
	}

  blockquote
  {
   font-style:italic;
   font-family:sans-serif;
   font-size:90%;
  }
  
  
  table.center
  {
    width: 800px;
    height: 512px;
    table-layout: fixed;  /* ie alignment compatibility */
    padding: 0;
    border: none;
    border-spacing: 0;
  }

	td.leftbar
	{
		width: 165px;
		background-image: url('left_bg0.gif');
		text-align: left;
		vertical-align: top;
	}

	
	table.inside
 {
	height: 512px; 
	table-layout: fixed;
	padding: 0; 
	border: none;
	border-spacing: 0;
	background-color: #bcd684;
 }

	td.text1
	{
		width: 547;
		background-color: #bcd684;
		overflow: auto;
		margin: 8px;
		text-align: justify;
		vertical-align: top;
	}

	td.text2
	{
		width: 234px;
		background-color: #8caa7c;
		vertical-align: top;
		border-right: dashed;
		border-top: dashed;
		border-left: dashed;
		border-bottom: dashed;
		border-width: 1px;
		border-color: #4c6674;
	}

	td.text3
	{
		width: 313px;
		background-color: #8caa7c;
		text-align: justify;
		vertical-align: top;
		border-right: dashed;
		border-top: dashed;
		//border-left: dashed;
		border-bottom: dashed;
		border-width: 1px;
		border-color: #4c6674;
	}
	
	  p:before
  {
   content:url(temp0000.gif)
  }

	
	p:first-letter
  {
    color: #ffd684;
    font-size: 150%;
    font-weight:900;
  }
  
  table.banner
{
	background-color: #bcd684;
	width: 224px;
	height: 32px;
	padding: 0;
	border: none;
	border-spacing: 0;
}
  
  a.navmain
  {
  	display: block;
		float: left;
		width: 32px;
		height: 32px;
		background: url('nav.gif');
		background-position: 0px 32px;
  }
  
  a.navmain:hover
  {
  background-position: 0px 0px;
  }
  
    a.tutors
  {
  	display: block;
		float: left;
		width: 32px;
		height: 32px;
		background: url('nav.gif');
		background-position: -32px 32px;
  }
  
  a.tutors:hover
  {
  background-position: -32px 0px;
  }
    a.articles
  {
  	display: block;
		float: left;
		width: 32px;
		height: 32px;
		background: url('nav.gif');
		background-position: -64px 32px;
  }
  
  a.articles:hover
  {
  background-position: -64px 0px;
  }
    a.dload
  {
  	display: block;
		float: left;
		width: 32px;
		height: 32px;
		background: url('nav.gif');
		background-position: -96px 32px;
  }
  
  a.dload:hover
  {
  background-position: -96px 0px;
  }
    a.links
  {
  	display: block;
		float: left;
		width: 32px;
		height: 32px;
		background: url('nav.gif');
		background-position: -128px 32px;
  }
  
  a.links:hover
  {
  background-position: -128px 0px;
  }
    a.about
  {
  	display: block;
		float: left;
		width: 32px;
		height: 32px;
		background: url('nav.gif');
		background-position: -160px 32px;
  }
  
  a.about:hover
  {
  background-position: -160px 0px;
  }
    a.products
  {
  	display: block;
		float: left;
		width: 32px;
		height: 32px;
		background: url('nav.gif');
		background-position: -192px 32px;
  }
  
  a.products:hover
  {
  background-position: -192px 0px;
  }
	

	
	td.leftmargin 
	{ 
		width: 50px; 
		vertical-align: top; 
		border-right: none; 
		border-top: dashed; 
		border-left: dashed; 
		border-bottom: none; 
		border-width: 1px;
		border-color: #ffd684;
	}
	
	td.dot 
	{ 
		width: 8px; 
		vertical-align: top; 
		border-left: none; 
		border-right: none; 
		border-bottom: none; 
		border-top: dashed; 
		border-width: 1px; 
		border-color: #ffd684;
	}

	td.bottom_link
	{
		text-align: justify; 
		border-left: none; 
		border-top: dashed; 
		border-right: none; 
		border-bottom: dashed; 
		border-width: 1px;
		border-color: #ffd684;
	}

	
/*-- main font styles   (dark) --*/
	p
	{
		font-family: 'arial', sans-serif;
		font-size: 8pt;
		color: #544a6c;
	}

/*-- alt font styles  (light) --*/
	.altfont
	{
		font-family: 'arial', sans-serif;
		font-size: 8pt;
		color: #544a6c;
	}
	.altfont2
	{
		font-family: 'arial', sans-serif;
		font-size: 8pt;
		color: #544a6c;
	}
/* -- link styles -- */
	a:link 
	{
    text-decoration: none;
		font-family: 'arial', sans-serif;
		font-size: 8pt;	
		color: #4c6674;
	}
	
	a:visited
	{
		text-decoration: none;
		font-family: 'arial', sans-serif;
		font-size: 8pt;
		color: #e4ea94;
	}
	
	#effect a:hover
	{
		background-color: #54866c;
		color: #8caa7c;
	}
	
	iframe
	{ 
		background-color: #e4ea94;
		height: 1000px;
		width: 547;
		border: none;
	}
		
  
